backend/dist/
backend/node_modules/
backend/drizzle/
backend/src/firebase-service-account.json
backend/.env
consumer/dist/
consumer/node_modules/
consumer/.env
frontend/dist/
frontend/node_modules/
frontend/.env
